version: "3.9"

services:
  mongodb:
    image: mongo:7.0
    container_name: mongo_db
    restart: unless-stopped
    environment:
      MONGO_INITDB_ROOT_USERNAME: admin
      MONGO_INITDB_ROOT_PASSWORD: admin
    ports:
      - "27018:27017"
    volumes:
      - mongodb_data:/data/db
      - mongodb_config:/data/configdb
    command: --bind_ip_all

volumes:
  mongodb_data:
  mongodb_config: